<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if signed_in? %>
      <%= link_to "Logout", session_url, method: :delete %>
    <% else %>
      <%= link_to "Login", new_session_url %> | 
      <%= link_to "Sign Up", new_user_url %>
    <% end %>
  </header>

  <%= render "layouts/errors" %>
  <%= render "layouts/notices" %>

<%= yield %>

</body>
</html>
